*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    justify-content: center;
    background-color: rgb(31, 31, 31);
}


.clock-container, 
.header-container{
    display: flex;
    /* height: 800px; */
    width: auto;
    justify-content: center;
    align-items: center;

}
.clock-container{
    height: 500px;
}
.header-container{
    margin-top:50px
}

.clock{
    color: darkred;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    color: rgba(240, 248, 255, 0.507);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

form span{
    display: block;
    margin: 20px 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    color:white;
    background-color: rgb(31, 31, 31);
    
  }

.picker{
    display:flex;
    color: rgba(240, 248, 255, 0.507);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    justify-content: space-between;
    width: 450px;
}

.birthdate-container{
    display:flex;
    color: rgba(240, 248, 255, 0.507);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    justify-content: space-around;
    width: auto;
}

.label{
    width: 400px;
    color: rgba(240, 248, 255, 0.507);
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -80px;
    font-family:'Courier New', Courier, monospace;

}

